/*
!.gitignore
!.travis.yml
!README.md
!make.sh
!makefile
!/root/
/root/*
!/root/etc/
/root/etc/*
!/root/etc/rc.installer_cleanup
!/root/Library
!/root/private
/root/private/*
!/root/private/var
/root/private/var/*
!/root/private/var/db
/root/private/var/db/*
!/root/private/var/db/ConfigurationProfiles
/root/private/var/db/ConfigurationProfiles/*
!/root/private/var/db/ConfigurationProfiles/Setup
!/root/private/var/root
/root/private/var/root/*
!/root/private/var/root/bootstrap.sh
!/root/private/var/root/macos.sh
!/scripts
!/tests
